@import "~antd/dist/antd.css";

.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.footerContent {
    line-height: 24px;
    text-align: center;
    font-size: 24px;
}