@import "~antd/dist/antd.css";

.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.footerContent {
    min-height: 1em;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    color: #FFF;
    background: #000;
    margin-bottom: 0;
}